<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <title>Error</title>
</head>
<body>
      <h1>404 Error</h1>
      <p class="zoom-area"><b>OOPS</b> Por favor pruebe otra ruta que sea correcta </p>
      <section class="error-container">
        <span><span>4</span></span>
        <span>0</span>
        <span><span>4</span></span>
      </section>
    
</body>
</html>



